$gray-100: #f8f9fa;
$gray-200: #f5f6fa;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: black;
// Theme colors
$primary: #296bb3;
$secondary: #f5f6fa;
$danger: #ff82ac;
$warning: #ffbb38;
$orange: #ff714f;
$success: #49ae69;
$light-green: #16dbcc;
$info: #396aff;
$purple: #806dd2;
$success-light: lighten($success,40%);
$light-green-light: lighten($light-green,40%);
$purple-light: lighten($purple,30%);
$danger-light: lighten($danger, 20%);
$primary-light: lighten($primary, 45%);
$orange-light: lighten($orange, 30%);

// Theme Map
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "primary-light": $primary-light,
    "success-light": $success-light,
    "danger-light": $danger-light,
    "light-green-light": $light-green-light,
    "purple-light": $purple-light,
    "orange-light": $orange-light,
);
