.topbar {
    .brand-logo{
        width: 110px;
        img{
            max-width: 100%;
        }
    }
    .navbar-collapse {
        @include media-breakpoint-down(md) {
            position: absolute;
            background: $primary;
            top: 58px;
            right: 8px;
            width: 160px;
            z-index: 2;
            box-shadow: 2px 2px 8px 2px #ccc;
        }
        button{
            font-weight: 500;
        }
    }
    .nav-item {
        .nav-link {
            color: $white;
            font-weight: 500;
            &:hover,
            &.active {
                color: $white;
                border-bottom: 3px solid $warning;
                @include media-breakpoint-down(md){
                    border-bottom: 0;
                }
                .icon::before{
                    color: $white;
                }
            }
        }
    }

}
