.sidebar {
    width: 280px;
    flex: 0 0 280px;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    position: absolute;
    right: -100%;
}
.backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($black, 0.3);
}
#new{
    display: none;
    &:checked{
        ~.sidebar{
            right: 0;
            z-index: 100;
        }
        ~ .backdrop{
            display: block;
        }
    }
}


