.dropdown-item{
    color: $gray-500;
    padding: 10px 8px;
    &:hover,
    &:active{
    color: black;
    background-color: $gray-300;
    font-weight: 500;
    }
}
.dropdown-active{
    color: black;
    background-color: $gray-300;
    font-weight: 500;
}